<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <!--<add name="Test_DBEntities" connectionString="metadata=res://*/TestDB.student2Model.csdl|res://*/TestDB.student2Model.ssdl|res://*/TestDB.student2Model.msl;provider=System.Data.SqlClient;provider connection string='data source=LAPTOP-1DVTN3VK\SQLEXPRESS;initial catalog=&quot;Test DB&quot;;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework'" providerName="System.Data.EntityClient" />-->
    <add name="CarRentalReservationsEntities" connectionString="metadata=res://*/CarRentalReservation.CarRentalReservationModel.csdl|res://*/CarRentalReservation.CarRentalReservationModel.ssdl|res://*/CarRentalReservation.CarRentalReservationModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-1DVTN3VK\SQLEXPRESS;initial catalog=CarRentalReservations;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CarRentalReservationsEntities1" connectionString="metadata=res://*/CarRentalReservation.Model1.csdl|res://*/CarRentalReservation.Model1.ssdl|res://*/CarRentalReservation.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-1DVTN3VK\SQLEXPRESS;initial catalog=CarRentalReservations;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CarRentalReservationsEntities2" connectionString="metadata=res://*/CarRentalReservation.CarRentalReservationModel.csdl|res://*/CarRentalReservation.CarRentalReservationModel.ssdl|res://*/CarRentalReservation.CarRentalReservationModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-1DVTN3VK\SQLEXPRESS;initial catalog=CarRentalReservations;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>